@import "tailwindcss";

@theme {
  --font-inter: var(--font-inter);
  --font-playfair: var(--font-playfair);
  --font-imperial: var(--font-imperial);

  /* colors */
  --color-primary: #122842;
  --color-custom-blue: #8bbee7;
  --color-primary-hover: #1b395f;
}

html {
  scroll-behavior: smooth;
}
